################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Source/.vs
/Presets/Complete/defor.cfg
/Textures/UI/Overlays/PawnStateIcons/defor/Aggressive.png
/Textures/UI/Overlays/PawnStateIcons/defor/Pacific.png
/Textures/UI/Overlays/PawnStateIcons/defor/NightOwl.png
/Textures/UI/Overlays/PawnStateIcons/defor/Naked.png
/Textures/UI/Overlays/PawnStateIcons/defor/MedicalAttention.png
/Textures/UI/Overlays/PawnStateIcons/defor/Marriage.png
/Textures/UI/Overlays/PawnStateIcons/defor/Love.png
/Textures/UI/Overlays/PawnStateIcons/defor/LeftUnburied.png
/Textures/UI/Overlays/PawnStateIcons/defor/Leave.png
/Textures/UI/Overlays/PawnStateIcons/defor/Jealous.png
/Textures/UI/Overlays/PawnStateIcons/defor/Idle.png
/Textures/UI/Overlays/PawnStateIcons/defor/iconset.cfg
/Textures/UI/Overlays/PawnStateIcons/defor/Hungry.png
/Textures/UI/Overlays/PawnStateIcons/defor/Hot.png
/Textures/UI/Overlays/PawnStateIcons/defor/Health.png
/Textures/UI/Overlays/PawnStateIcons/defor/Greedy.png
/Textures/UI/Overlays/PawnStateIcons/defor/Freezing.png
/Textures/UI/Overlays/PawnStateIcons/defor/Effectiveness.png
/Textures/UI/Overlays/PawnStateIcons/defor/Drunk.png
/Textures/UI/Overlays/PawnStateIcons/defor/Draft.png
/Textures/UI/Overlays/PawnStateIcons/defor/Disease.png
/Textures/UI/Overlays/PawnStateIcons/defor/DeadColonist.png
/Textures/UI/Overlays/PawnStateIcons/defor/Dazed.png
/Textures/UI/Overlays/PawnStateIcons/defor/Crowded.png
/Textures/UI/Overlays/PawnStateIcons/defor/Bloodloss.png
/Textures/UI/Overlays/PawnStateIcons/defor/Bedroom.png
/Textures/UI/Overlays/PawnStateIcons/defor/ApparelHealth.png
/Textures/UI/Overlays/PawnStateIcons/defor/Unarmed.png
/Textures/UI/Overlays/PawnStateIcons/defor/Tired.png
/Textures/UI/Overlays/PawnStateIcons/defor/TargetSkin.png
/Textures/UI/Overlays/PawnStateIcons/defor/TargetHair.png
/Textures/UI/Overlays/PawnStateIcons/defor/Target.png
/Textures/UI/Overlays/PawnStateIcons/defor/Sickness.png
/Textures/UI/Overlays/PawnStateIcons/defor/Sad.png
/Textures/UI/Overlays/PawnStateIcons/defor/Pyromaniac.png
/Textures/UI/Overlays/PawnStateIcons/defor/Prosthophobe.png
/Textures/UI/Overlays/PawnStateIcons/defor/Prosthophile.png
/Textures/UI/Overlays/PawnStateIcons/defor/Panic.png
/Textures/UI/Overlays/PawnStateIcons/defor/Pain.png
